body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 900px;
    margin: 20px auto;
    background: white;
    display: flex;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.left-column {
    width: 30%;
    background: #25324C;
    color: white;
    padding: 20px;
}

.right-column {
    width: 70%;
    padding: 30px;
}

.avatar {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 32px;
}

h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-top: 25px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

section {
    margin-bottom: 25px;
}

h3 {
    color: #888;
    margin-top: 5px;
}
.logo {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

